@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  background: rgba(0, 0, 0, 0.6) url(./images/background-image.jpg) no-repeat
    center center fixed;
  background-size: cover;
  background-blend-mode: darken;
  font-family: "Roboto Condensed", sans-serif;
  color: rgb(245, 245, 245);
}

/* ------------------NAVBAR----------------------------- */

.navbar {
  display: flex;
  justify-content: space-between;
  padding: 1.5%;
  background-color: black;
}

.brand {
  font-size: 1.5rem;
  text-decoration: none;
  transition: 0.3s ease-in-out;
  padding: 5px;
  border-radius: 5px;
}

.preview-link {
  text-decoration: none;
  transition: 0.3s;
  font-size: 1.1rem;
  padding: 5px;
  border-radius: 5px;
  padding: .3em .5em;

}

.brand:hover,.preview-link:hover{
    background-color: white;
    color: black;
    cursor: pointer;
}

/* -----------------SECTION------------------ */

.slogan-section{
    position: absolute;
    top: 35%;
    left: 50%;
}

.slogan-section > div{
    padding-bottom: 1em;
}

.slogan{
    font-size: 3rem;
    font-weight: bold;
    padding-bottom: .2em;
}

.slogan-text{
    width: 70%;
    padding-bottom: .8em;
    font-size: 1.2rem;
}

.btn{
    background: transparent;
    border: 1px solid white;
    font-size: 1.2rem;
    padding: .3em .5em;
    transition: 0.3s ease-in-out;
    background-color: white;
    border-radius: 5px;
    cursor: pointer;
    background-color:rgba(0, 0, 0, 0.5);
    color: white;
}

.btn:hover{
    border: 1px solid white;
    background-color: white;    
    color: black;
}






