body {
  background: rgba(0, 0, 0, 0.7) url(../images/background-image.jpg) no-repeat
    center center fixed;
  background-size: cover;
  background-blend-mode: darken;
}

.logo{
  border-radius:60% ;
  width: 20%;
  float: right;
}

.card-section-heading{
  font-size: 3rem;
}

.card-section {
  margin: 5em;
}
.card {
  display: inline-block;
  box-shadow: 0 1px 4px 0 rgb(221, 221, 221);
  background-blend-mode: darken;
  height: 350px;
  border-radius: 1em;
  width: 60%;
  transition: 0.3s;
  cursor: pointer;
  margin-top: 3em;
}

.card:hover {
  color: transparent;
  transform: scale(1.1);
}

.card-heading {
  padding: 1em 1em 0 1em;
}

.card-text {
  width: 65%;
  padding: 1em 2em 2em 2em;
  line-height: 1.5;
}
