body {
  background: rgba(0, 0, 0, 0.4) url(../images/background-image.jpg) no-repeat
    center center fixed;
  background-size: cover;
  background-blend-mode: darken;
}
/* -----------------SECTION------------------ */

.slogan-section {
  left: 50%;
  position: absolute;
  top: 35%;
  padding: 0.7em;
}

.slogan-section > div {
  padding-bottom: 1em;
}

.slogan {
  font-weight: bold;
  font-size: 3rem;
  padding-bottom: 0.2em;
}

.slogan-text {
  padding-bottom: 0.8em;
  width: 70%;
  font-size: 1.2rem;
}

.btn {
  background: transparent;
  font-size: 1.2rem;
  border: 1px solid white;
  padding: 0.3em 0.5em;
  transition: 0.3s ease-in-out;
  background-color: white;
  border-radius: 5px;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
}

.btn:hover {
  border: 1px solid white;
  background-color: white;
  color: black;
}
